@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@layer components {
  .btn-primary {
    background-color: #162f4a;
    color: white;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition-property: color, background-color;
    transition-duration: 300ms;
  }
  
  .btn-primary:hover {
    background-color: #112438;
  }
  
  .btn-secondary {
    background-color: #d69e2e;
    color: white;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition-property: color, background-color;
    transition-duration: 300ms;
  }
  
  .btn-secondary:hover {
    background-color: #b45309;
  }
}